@import "~sanitize.css";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/solarized.css";
@import "~codemirror/theme/railscasts.css";

$bgColor: #FFF;
$fgColor: #222;
$bgColor2: #29544C;
$fgColor2: #FFF;
$fgColor2a: #BBB;
$borderColor: #222;

body {
  -webkit-app-region: drag;
  background-color: $bgColor;
  margin: 0px;
  font-family: "Helvetica Neue", Arial;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &_sideMenu {
    background-color: $bgColor2;
    color: $fgColor2;
    width: 12rem;
    height: 100vh;
    border-right: 1px solid $borderColor;
    padding-top: 22px; // height of window controls
    overflow: auto;
  }

  &_main {
    flex-grow: 1;
    height: 100vh;
  }
}

.noteSideMenu {
  user-select: none;
  display: flex;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  flex-wrap: nowrap;

  &_header {
    > h2 {
      margin: 0px 0px 0px 0.75em;
      padding: 0.55em 0px;
      font-size: 1em;
      font-weight: normal;
      border-bottom: 1px solid #AAA;
    }

    &_button {
      display: inline-block;
      font-size: 0.8em;
      vertical-align: bottom;
      padding: 0.1em 0.5em;
      margin: 0.1em 0.5em -0.1em 0px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  &_body {
    flex-grow: 1;
    overflow: auto;

    > ul {
      -webkit-app-region: no-drag;
      margin: 0px;
      padding: 0px;

      > li {
        list-style-type: none;
        font-size: 0.9em;
        padding: 0px 0px 0px 0.75rem;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }

        &.is-active {
          padding: 0px 0px 0px 0.4rem;
          border-left: 0.35rem solid rgba(255, 255, 255, 0.2);
          background-color: rgba(0, 0, 0, 0.1);
        }

        > h3 {
          margin: 0px;
          padding: 0.5rem 0px;
          font-size: 1em;
          font-weight: normal;
        }

        > p {
          margin: 0px;
          padding: 0px 0px 0.5rem 0px;
          color: $fgColor2a;
          font-size: 0.85em;
        }

        &:after {
          display: block;
          content: "";
          border-bottom: 1px solid #666;
        }
      }
    }
  }
}

.noteEditor {
  -webkit-app-region: no-drag;
  position: relative;
  width: 100%;
  height: 100%;

  > div {
    height: 100%;
  }

  .react-codemirror2 {
    position: relative;
    z-index: 0;
    height: 100%;

    > .CodeMirror {
      height: 100%;
      box-shadow: none;
      font-family: "Ricty Discord", MyricaM, Consolas, Monaco;
      font-size: 0.8em;
    }
  }

  &_controls {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    color: #AAA;

    &_spinner {
      display: none;
      &.isSaving {
        display: inline-block;
      }
    }

    &_saveButton {
      display: inline-block;
      opacity: 0.3;
      &.isSaving {
        display: none;
      }
      &.isEditing {
        opacity: 1;
      }
    }
  }
}
